.bike-fix__img {
  @include images;
  @include card;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  padding: 20px 50px;
  max-width: 100%;
  max-height: 260px;
  margin: 0;
  display: inline-flex;
  position: sticky;
  top: 0;
  z-index: 1;
  
  @include desktop {
    max-width: 300px;
  }
  
  @include tabletPortrait {
    max-width: 194px;
  }
  
  @include mobilePortrait {
    max-width: 180px;
    max-height: 138px;
    padding: 10px 26px;
  }
}