.cards__item {
  padding: 0 $mainPadding 0 $mainPadding;
  
  @include desktop {
    padding: $smallPaddingLeftRight;
  }

  @include mobileLandscape {
    padding-top: 40px;
    
    &:after {
      @include border-bottom;
    }
  }
}