.menu__link {
  @include font(1em, $bolderText, 500, 18px);
  text-decoration: none;
  transition: $transition;
  
  &:hover {
    color: $hoverLinkHeader;
  }

  @include  mobileLandscape {
    @include font(18px, $bolderText, 500, 18px);
  }
}
