.article__main-img {
  @include images;
  max-width: 610px;
  max-height: 836px;
  
  @include desktop {
    max-width: 100%;
    max-height: 100%;
  }
  
  @include tabletSmall {
    max-width: 95%;
    max-height: 90%;
  }
  
  @include mobilePortrait {
    max-width: 254px;
    max-height: 348px;
  }
}