.about {
  padding-left: $mainPadding;
  max-width: $maxWidth;
  margin: 0 auto;
  
  @include desktop {
    padding-left: $smallPaddingLeftRight;
  }
  
  @include mobileLandscape {
    position: relative;
    
  }
}

