.nav__wrap {
  display:none;
  
  @include mobileLandscape {
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    margin-right: 18px;
    margin-top: 28px;
    background: none;
    border: none;
  }
  
}